@import '../../style/base.scss';
.header{
  width:100%;
  height: 270px;
  .slick-slider{
    .slick-list{
      img{
        width:100%;
      }
    }
    .slick-dots{
      bottom:0;
      ul{
        li{
          div{
            width:30px;
            height:3px;
            background:#fff;
          }
        }
        .slick-active{
          div{
            background:orangered;
          }
        }
      }
    }

  }
}